.details{
    position: fixed;
    left: 50%;
    top:50%;
    width: 18cm;
    max-width: 90vw;
    height: 15cm;
    max-height: 90vh;
    transform: translate(-50%, -50%);
    border: 4px solid #6e6e6e;
    background-color: #040216;
    z-index: 999;
    padding: 0.5vw;
}

.imgSelect{
    display:grid;
    grid-template-columns: 2cm 2cm 2cm;
    grid-gap: 0.1cm;
    width: 6.2cm;
    height: 6.2cm;
    right:0;
    padding: 4px 0 0 4px;
    border-left: 1px solid #30009f;
}

.imgSelect-img{
    width: 2cm;
    height:2cm;
}

.btn-box{
    display: flex;
    gap:0.5vw;
}

.action{
    width:33%;
}

.gray{
    background-color: #3c3c3c;
    color:#FFF;
}

.position{
    font-size: 0.35cm;
    text-align: center;
    margin-bottom: 0.7vw;
}

.flex{
    margin-bottom: 0.25cm;
}

.maxDays{
    width: 1cm;
}

.addPerms{
    padding: 5px 3px;
    margin-right: 0.1cm;
    border-radius: 0.1cm;
    
}

.buttons{
    bottom: 0;
    position: absolute;
    width: inherit;}

.column{
    padding-right: 0.2cm;
}

label{
    margin: 0.1cm 0;
}

.permised{
    border: 1px solid #4c00ff;
    padding: 0.05cm;
    margin:0.05cm;
    display: inline-block;
}
