<div class="details">
  <div class="position">
    <span class="position">Urządzenie znajduje się na regale {{ "NaN" }}, półce {{ item.pos }} od góry. </span>
    <input type="button" class="btn" value="Przenieś">
  </div>
  <div class="flex">
    <div class="column available">
      <label>Nazwa: <input #name (change)="changeName(name.value)" class="itemData gray" [attr.value]="item.name"></label>
      <label>Zwrot po max
        <input #func (change)="changeAbsence(func.value)" class="maxDays gray" [attr.value]="item.absence">
         dniach
      </label>
      <label>Ostatnio wzięte przez:<br>{{ item.owner }} dnia {{ convert(item.stamp) }}</label>
      <span>Uprawnienia:</span>
      <div class="flex">
      <select #perms class="addPerms gray available">
            @for( person of dataService.employees; track person ){
            <option>{{person.name}}</option>
            }
      </select>
      <input type="button" (click)="addPerms(perms.value)" class="btn" value="Dodaj">
      </div>
      <div>
      <h6>Kliknij grupę/osobę, by usunąć uprawnienie</h6>
      @for( permised of item.perms; track permised ){
        <span class="permised" (click)="delPerms(permised)">{{ permised }}</span>
      }
      </div>
    </div>
    <div class="imgSelect">
    @for(img of imgs; track img; let idx=$index){
      <img [attr.class]="(idx==selImg ? 'bdBlue' : '') +' imgSelect-img'" (click)="selectImg(idx)" [attr.src]="img">
    }
    </div>
  </div>
  <h4>Zdarzenia</h4>
  <div class="events">
      <!--@for(event of eventService.select("item", item.name); track $index ){
        <div class="eventBar">
          <span>$index</span>
          <span>event.description</span>
          <span>event.time</span>
          <span>event.person</span>
          <span>event.severity</span>--
          <span>event.camera</span>
          <button title="wymaż">x</button>
        </div>
      }-->
  </div>
  <div class="flex buttons">
    <input type="button" class="btn action" value="Oznacz jako zabrane">
    <input type="button" class="btn action" value="Oznacz jako skradzione">
    <input type="button" (click)="dataService.edit=false" class="btn action bgGreen" value="Zamknij i zapisz">
    </div>
</div>