.header{
    display: flex;
    flex-direction: row;
    height: 0.9cm;
    background-color: #0c111a;
    border-bottom: 1px solid #5a5a5a;
    color:#eaebf0;
    z-index: 1000;
    position: fixed;
    top:0;
    width:100vw;
}

.menu_item{
    min-width: 3cm;
    height: 0.7cm;
    cursor: pointer;
    text-align: center;
    border-bottom: 4px;
    padding: 0.1cm 0.1cm 0 0.1cm;
    margin-bottom: -0.2cm;
}
.menu_item *{
    font-size: 0.4cm !important;
}

.moreCats{
    display: none;
    position: absolute;
    top: 2.8vh;
    flex-direction: column;
    background-color: #080034;
    border: 1px solid #0c4585;
    padding: 0.1cm 0;
    margin-left: -0.1cm;
    z-index:990;
    width:3.16cm;
}
.moreCats span{
    padding: 0.1cm 0.22cm;
}
.menu_item:hover .moreCats{
    display: flex;
}

.menu_item:hover, .moreCats span:hover{
    background-color: #342d5b;
}

.account{
    border-left: 2px solid #0c4585;
    width: 5.55cm;
    text-align: right;
    display: flex;
    cursor: pointer;
    position: absolute;
    right: 0;
}
.account img{
    height: 3vh;
}
.account span{
    margin-top: 0.1cm;
    font-size: 0.45cm;
}

.footer{
    background-color: rgb(200, 200,200, 0.4);
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 3px 7px 3px 4px;
    font-size: 1.5vh;
    cursor: alias;
}

.main{
    position: relative;
    display: inline-block;
    width: fit-content;
}

.account img{
    height: 0.9cm;
    padding-right: 9px;
}

.acc-details{
    position:fixed;
    right: 0;
    top: 0.9cm;
    width: 5.2cm;
    background-color: black;
    color: white;
    z-index: 1000;
    border: 2px solid #0c4585;
    padding: 0.15cm;
    padding-bottom: 1.25cm;
    display: flex;
    flex-direction: column;
}

.acc-details a{
    margin: 3px 0;
    font-size: 0.4cm;
}

.logout{
    position: absolute;
    bottom: 0.25cm;
    width: 5.25cm;
}

.grow{
    position: absolute;
    left: max(calc(50% - 6cm), 13.6cm);
    max-width: calc(100% - 18.9cm);
    display: flex;
    margin-top: 0.1cm;
}