<div class="header">
    <div class="menu-item" routerLink="" [class]="v==0 ? 'bdBtmBlue' : ''">
        <span>Regały</span>
    </div>
    <div class="menu-item" [class]="v==1 ? 'bdBtmBlue' : ''">
        <span routerLink="pracownicy">Ludzie i grupy</span><span> ⌵</span>
        <div class="moreCats">
            <span routerLink="pracownicy">Pracownicy</span>
            <span routerLink="brygady">Grupy i Brygady</span>
            <span routerLink="kwalifikacje">Kwalifikacje</span>
        </div>
    </div>
    @if( dataService.settings.multiobject ){
    <div class="menu-item" routerLink="obiekty" [class]="v==4 ? 'bdBtmBlue' : ''">
        <span>Obiekty</span>
    </div>
    }
    <div class="menu-item" routerLink="zdarzenia" [class]="v==2 ? 'bdBtmBlue' : ''">
        <span>Zdarzenia</span>
    </div>
    <div class="menu-item" routerLink="ustawienia" [class]="v==3 ? 'bdBtmBlue' : ''">
        <span>Ustawienia</span>
    </div>

    <app-search class="grow"></app-search>
    <div class="account" (click)="a=!a">
        <img [attr.src]="dataService.account.img">
        Deweloper
    </div>
    @if( a ){
        <div class="acc-details">Element twoje konto w budowie</div>
    }
</div>

<router-outlet></router-outlet>

<a href="http://strom.katowice.pl" class="footer a">© Strom Katowice {{getYear()}}</a>