.group{
    height: 2.25cm;
    border: 2px solid #9e9e9e;
    display: grid;  
    grid-template-columns: 1.2cm calc(100% - 2cm) 0.9cm;
    margin-right: 0.2cm;
    user-select: none;
}
.group .name{
    padding: 0.2cm;
    font-size: 0.55cm;
    cursor:text;
    background-color: transparent;
    color: #F8F8F8;
    user-select: none;
}
.more{
    font-size: 0.7cm !important;
    font-weight: bold;
    cursor: pointer;
}

.color{
    height:1.15cm;
    width:1.15cm;
    right:0;
}

.addPerms{
    padding: 5px 3px;
    margin-right: 0.25cm;
    border-radius: 0.1cm;
    color: black;
    width: calc(100% - 3cm);
}
.btn{ 
    width:33%;
}
.addBtn{
    width: 2.75cm;
}

.members{
    gap: 0.2cm;
    display: flex;
    flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 4;
  min-height: 0.5cm;
  height: fit-content;
  border: 2px solid #757474;
  background-color: #041421;
  z-index: 1000;
  padding: 0.2cm;
  width: calc(100% - 0.5cm);
  margin-left: -2px;
}

.member{
    border: 1px solid #4c00ff;
    padding: 0.05cm;
    margin:0.05cm;
    display: inline-block;
}
label{
    padding: 0 0 0.2cm 0;
}

.bottomBar{
    bottom: 0.2cm;
    left:0.2cm;
    display: flex;
    flex-direction: row;
    gap: 0.25cm
  }

  .list{
    min-height:0.65cm;
    display: ruby;
    width: calc(100% + 0.2cm);
    overflow: clip;
  }

  .bryg{
    font-size: 0.3cm;
    padding: 0;
    line-height: 0.35cm;
}