.kolega{
    border-radius: 2vh;
    border: 3px solid #043164;
    padding: 12px;
    display: grid;
    grid-template-columns: 12vh auto auto;
    column-gap: 8px;
    row-gap: 3px;
    width: 12cm;
    max-width: 94vw;
    margin-bottom: 15px;
}
.kolega label{
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 0.4cm;
}
.photo{
    grid-row-start: 1;
    grid-row-end: 6;
    height: 3cm;
    width: 3cm;
    object-fit: cover;
}
.notes{
    grid-column-start: 2;
    grid-column-end: 4;
    resize: none;
    height: 0.5cm;
    border-bottom: 1px solid #d0d0d0;
    margin-top: 8px;
    margin-bottom: -3px;
}
.add{
    background-color: #008e13;
}

.btt{
    margin-top:5px;
    background-color: #003c80;
    color: #fff;
    font-size: 0.36cm;
    height: 4vh;
    border-radius: 0.5vh;
    cursor: pointer;
    width: 100%;
}

.btK{
    background-color: #ee1477;
    font-weight: bold;
}

.sqidGame, .RFID{
    width: 54vh;
    height: 44vh;
    position: fixed;
    top: 28vh;
    left: calc(50vw - 27vh);
    background-color: #ee1477;
    border:4px solid #ff54a1;
    text-align: center;
}

.RFID{
    background-color: #ffffff;
    border:4px solid #0a0040;
}

.RFID .btt{
    min-width: 75%;
}

.game{
    height: 10vh;
    position: absolute;
    bottom: 0;
    right: 2vh;
    
}

.doll{
    height: 40vh;
    position: absolute;
    left: 0;
}

.loser{
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    position: absolute;
    left: 14.5vh;
    top: 4vh;
    z-index: -1;
}

.qt{
    position: absolute;
    left: 19vh;
    top: 20vh;
    font-size: 2vh;
    color: #fff;
}

.qt button{
    height: 4vh;
    background-color: #ff54a1;
    display: inline-block;
    margin: 0.5vh;
    color: #fff;
    cursor: pointer;
}

.qt p{
  padding: 0 0.5vh;  
}

.nImg{
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 0.4cm;
}

.nImg input{
    height: 0.75cm;
}

input{
    color: #000000;
}