.block{
    padding-bottom: 35px;
    display: grid;
    
}
.shelf{
    border: 4px solid #4c4c4c;
    border-bottom: none;
    min-width: 100px;
    height: 8vh;
    min-height: 45px;
    width: max(23vh, 110px);
    text-align: center;
    padding: 0.6vh;
    display: grid;
    grid-template-columns: 1fr 2fr;

}
.shelf *{
    font-size: max(1.5vh, 10px);
}

.ilustration{
    grid-row-start: 1;
    grid-row-end: 4;
    height: 7vh;
    width: 7vh;
    min-height: 40px;
}
.monochrome{
    filter: grayscale(1);
}
.colorTag{
    width:fit-content;
    min-width: 1.4vh;
    padding:0.3vh;
    position: relative;
    bottom: 2vh ;
    right:-4px;
    margin-bottom: -2vh;
    font-weight: bold;
}
.edit{
    position: fixed;
    width: 49%;
    height: 25px;
    font: 18px;
    border: 2px solid green;
}
.offline, .offline span{
    font-size: 3vh !important;
    font-weight: bold;
    text-align: center;
    margin-top: -2.5vh;
}