<div class="block">
    @for ( state of dataService.stock[id].val; track $index; let idx=$index){
        @let item=getItem(id, idx);
        <div class="shelf" [attr.id]="'item'+item.id" (click)="edit(item.id)">
            <img class="ilustration" [src]="item.img" [class]="state!=1 ? 'monochrome' : ''">
            <span class="name">{{item.name}}</span>
            <span class="font-red">{{convert(item.stamp)}}</span>
            <span>{{item.owner}}</span>
        </div>
        <div class="colorTag" [class]="item.status==2 ? 'bgYellow' : state==0 ? 'bgRed' : 'bgGreen'">
        @if(item.status===2){
            <span>SKRADZIONE</span>
        }
        </div>
    }
</div>
<div class="offline">   
    @if( dataService.stock[id].status==404 || dataService.stock[id].status==405 ){
        <span class="fontRed blink">!!</span><span>OFFLINE</span><span class="fontRed blink">!!</span>
    }
    @else{
    <span>&nbsp;</span>
    }
</div>