.in{
    width: 12cm;
    height: 0.65cm;
    background-color: rgb(50, 33, 134);
    border: 1px solid #00b7ff;
    font-size: 0.4cm;
    padding: 0px 4px;
    border-radius: 7px;
    max-width: 100%;
}

.icon{
    position: relative;
    right: 0.65cm;
    top: 0.07cm;
    font-size: 0.5cm;
}