
.canvas{
    margin: 0.5cm;
    display: flex;
}
.siteBar{
    display: flex;
    flex-direction: column;
    background-color: #030011;
    min-height: 97vh;
    width: min(18vw, 6.5cm);
}

.siteData .btn{
    position: absolute;
  bottom: 3vh;
  width: min(calc( 18vw - 0.3cm ), 6.2cm);
}

.siteSelect{
    font-size: 2vh;
    color: #080034;
    border: 3px solid #565656;
}

.siteData{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    font-size: 1.5vh;
    padding:0.15cm;
}

.siteImg{
    aspect-ratio: 1/1;
}