.category{
    display: grid;
    gap: 0.3cm;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(9cm, 1fr));
}
.catName{
    background-color: transparent;
    font-size: 0.7cm;
    color: #9e9e9e;
    min-width: 5cm;
    border-bottom: 2px solid #9e9e9e;
    margin: 0.3cm 0 0.3cm 0;
    width:calc(100% - 0.2cm);
}

.newGroup{
    width: 1.25cm;
    height: 1.25cm;
    border: 2px solid #9e9e9e;
    background-color: transparent;
    cursor: pointer;
}
.newGroup::after{
    content: '+';
    font-size: 0.9cm;
    top:-0.05cm; 
    position: relative;
}