<div class="content">
    @for(cat of groups(); track cat){
        <input #catt class="catName" (dblclick)="catt.readOnly=false" (change)="catname(dataService.groups[cat][0].category, catt.value)" [attr.value]="dataService.groups[cat][0].category" readonly>
        <div class="category">
            @for(group of dataService.groups[cat]; track group; let idy=$index){
                <app-group [cat]="cat" [gr]="idy"></app-group>
            }
            <button class="newGroup" (click)="addGroup(cat)"></button>   
        </div>
    }
</div>

<div class="add" (click)="this.addCategory()">
    <span>DODAJ KATEGORIĘ</span>
</div>