@font-face {
    font-family: mainfont;
    src: url(./../public/assets/ttf/JetBrainsMono-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: mainfont;
    user-select: none;
    color: #dcdcdc;
    font-size: 0.35cm;
}

body{
  background-color: #1c1e31;
  padding-top: 0.9cm;
}
.block{
  height:3vh;
}

.bgRed{
    background-color: #ED1212 !important;
}

.bgGreen{
    background-color: #0e850c !important;
}
.bgBlue{
    background-color: #0c4585 !important;
}
.bgYellow{
  background-color: #dbd800 !important;
}

.bgOrange{
    background-color: #ee6d17 !important;
}

.bdBtmGreen{
    border-bottom-color: #0e850c !important;
}
.bdBtmRed{
    border-bottom-color: #ED1212 !important;
}
.bdBtmOrange{
    border-bottom-color: #ee6d17 !important;
}
.bdBtmBlue{
    border-bottom: 4px solid #0c4585 !important;
}
.borderLime{
  border:2px solid #0e850c !important;
}

.bdBlue{
  border: 4px solid #0c4585 !important;
  margin: -4px;
}
.fontRed{
  color: #ED1212 !important;
}
.fontBlack{
  color: #041421 !important;
}

.invis{
  opacity:0;
  enable-background: 0%;
}

.grow{
    flex-grow: 2;
}

.underline{
  text-decoration: underline;
  cursor: pointer;
}

h6{
  font-size: 0.27cm;
}

input{
    outline: 0;
    text-decoration: none;
}

.flex{
    display: flex;
    flex-direction: row;
    gap:0.2cm;
}

.column{
  flex-direction: column;
}

.available{
  width: -moz-available;
  width: -webkit-fill-available;
}

.micro{
    font-size: 1vh;
}


.menu{
    width: 5cm;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #0c4585;
    padding: 0.25cm;
}

.left-item{
  padding: 0.2cm 0.25cm;
  color: #ebebeb;
  border-radius: 0.1cm;
}

.left-item:hover{
  background-color: #9e9e9e;
}

.content{
  padding: 0.4cm;
}


.addPerms{
  padding: 5px 3px;
  margin-right: 0.1cm;
  border-radius: 0.1cm;
  min-width: 4cm;
}

.btt{
  margin-top:5px;
  background-color: #003c80;
  color: #fff;
  font-size: 0.36cm;
  height: .75cm;
  border-radius: 0.5vh;
  cursor: pointer;
  width: 100%;
}

.add{
  position: fixed;
  right: 0.8cm;
  bottom: 1.1cm;
  color: white;
  text-align: center;
  padding: 0.3cm;
  border-radius: 5px;
  background-color: #0c4585;
  border: 4px solid #072b54;
  cursor: copy;
}
.add *{
  font-size: 0.4cm;
}

.number{
  width: 1cm;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn{
  padding: 5px 7px;
  background-color: #1e306c;
  border-radius: 0.1cm;
  cursor: pointer;
}

input[type="number"] {
   -moz-appearance: textfield;
}

.blink{
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

/*checkboxes*/  
  .switch {
    position: relative;
    display: inline-block;
    width: 1.07cm;
    height: 0.6cm;
    margin: 0.1cm; 
    top: 0.1cm;
  }
  
  /*.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }*/
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 4px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 0.4cm;
    width: 0.4cm;
    left: 0.1cm;
    bottom: 0.1cm;
    background-color: white;
    transition: .4s cubic-bezier(0,1,0.5,1);
    border-radius: 3px;
  }
  
  input:checked + .slider:before {
    transform: translateX(0.45cm);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  input:checked + .slider.blue {
    background-color: #424bf5;
  }


  @keyframes blink{
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0;
    }
  }